@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --lh: 1.3rem;
} 

.category_modal::-webkit-scrollbar {
  width: 4px;
}

.category_modal::-webkit-scrollbar-track {
  background-color: transparent;
}

.category_modal::-webkit-scrollbar-thumb {
  background-color: #A8B3CF;
  border-radius: 10px;
}

.category_modal::-webkit-scrollbar-thumb:hover {
  background-color: #FFFFFF;
}

.post_card_text {
  --max-lines: 3;
  position: relative;
  max-height: calc(var(--lh) * var(--max-lines));
  overflow: hidden;
  padding-right: 1rem;
}